html{
  font-family: Arial;
  background-color: #e1e1e1;
  color: black;
  text-align: center;
}
.text-center{
  text-align: center !important;
}
.color-red{
  color:red;
}
.search{
  width:740px!important;
}
.color-lightgreen{
  color:#16aa16;
}
.remind{
  text-decoration: underline;
}
.remind:hover{
  cursor:pointer;
}
#remind{
  display:none;
  max-width:200px;
}
h1{
}
.flex-wrap{
  display:flex;
  flex-wrap:wrap;
}
.card{
  width:350px;
  color:black;
  background-color:rgba(218,218,218,0.8);
  margin:10px;
  border-radius:5px;
}
header{
  background: #b5b5b5;
}
header a {
  text-align: center;
  text-decoration: none;
  font-size:bold;
  padding: 20px;
}

.menu{
  display: flex;
  justify-content: space-between;
}
.logo{
  font-weight: bold;
  font-size:3em;
  text-decoration: none;
}
#first{
  margin-right:5px;
  padding:2px;
}
#second{
  padding:2px;
  color:black;
  background-color:orange;
  border-radius:5px;
}
.menu-item{
  color: #6f6f6f;
  font-weight:bold;
  font-size:1.2em;
  font-family:Arial;
}
.menu-logo{
  padding: 15px;
  text-align:center;
}
.menu-right{
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container{
  margin: 0 auto;
  width: 500px;
}
.row{
  text-align: left;
}
.col-3{
  text-align: right;
  margin-right: 10px;
  float:left;
  width:30%;
}
.col-6{
  width:60%;
}
.form{
  color:black;
  margin:50px auto;
  background:#dadada;
  border:1px solid #aaa;
  border-radius: 5px;
}
article{
  margin: 0 auto;
  width: 40%;
}
.discount-price{
  color:green;
  font-weight:bold;
}
.regular-price{
  text-decoration: line-through;
  font-weight:bold;
  color:red;
}
a, a:visited{
  color:unset;
}
.userform{
  padding:20px 0;
}
.detailsform{
  padding:20px 0;
}
